body {
  background-color: #f8f39b;
  font-family: Arial, sans-serif;
  color: #12549a;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #12549a;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 300px;
  height: auto;
  border: 3px solid #333333;
}

    